.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.title {
  color: #7A7A7A;
  font-size: 1em;
}
.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
}
.number {
  font-size: 3.3em;
  font-weight: bold;
  text-align: center;
}
.number span {
  font-size: 0.4em;
}
.unit {
  text-align: center;
}