html, body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}
.wrapper {
  padding:0 50px;
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #fff;
  min-width: 120px;
}

.title {
  color: #7A7A7A;
  font-size: 16px;
  margin-top: 15px;
}

.total {
  font-size: 50px;
  margin-top: 10px;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
}

.unit {
  font-size: 16px;
  margin-top: -5px;
  text-align: center;
  margin-bottom: 15px;
}
